# 项目基本结构如下:

wox.core                    Go实现的Wox后端,通过websocket与http与wox.ui.flutter通信
    wox.core/setting        wox.core的设置相关定义
    wox.core/plugin         wox.core的API定义与实现
wox.plugin.python           python插件需要引用的类库
wox.plugin.host.python      python插件的host,通过websocket与wox.core通信,负责加载python插件
wox.plugin.nodejs           nodejs插件需要引用的类库
wox.plugin.host.nodejs      nodejs插件的host,通过websocket与wox.core通信,负责加载nodejs插件
wox.ui.flutter               flutter实现的Wox前端,通过websocket与wox.core通信

# 对每个项目的具体要求:

## wox.core

- wox.core中的日志方式参考: util/log.go 以及 plugin/manager.go下面的用法
- wox.core中的方法第一个参数基本都是context.Context, 我们通过将traceId放在context中来实现日志跟踪

## wox.plugin.python
* 具体的功能实现必须对齐 wox.core/plugin/api.go 中的定义
* dataclass进行数据模型定义, 请参考wox.plugin.python/src/wox_plugin/models/query.py

# 其他要求
* 你在回答问题的时候请使用中文回答我, 但是生成的代码中的注释必须使用英文
* 当你需要查看日志的时候,请使用 `tail -n 100 ~/.wox/log/log` 查看最新日志, 帮助你排查问题
* 编写单元测试的时候， 注意初始化日志，否则日志可能不会打印到正确的位置，参考：wox.core/main_test.go