*.diagsession
*.diff
.idea
.DS_Store
publish
wox.core/resource/hosts/
wox.plugin.host.python/python-host/
wox.plugin.host.python/python-host.pyz
*.pyz
wox.core/resource/ui/flutter/
node_modules/
__pycache__/
Release/
__debug_bin*
wox.core/log/
wox.plugin.python/dist/
wox.plugin.python/wox_plugin.egg-info/
.venv/
.ruff_cache/
.mypy_cache/