*.diagsession
Output-Performance.txt
*.diff
.idea
.DS_Store
publish
Wox/resource/hosts/
Wox.Plugin.Host.Python/python-host/
Wox.Plugin.Host.Python/python-host.pyz
Wox.Plugin.Host.Python/venv/
*.pyz
Wox/resource/ui/wox
Plugins/Wox.Plugin.Chatgpt/dist/
Wox/resource/ui/react/
Wox/resource/ui/electron/
Wox.UI.React/dist/
node_modules/