[project]
name = "wox-plugin"
version = "0.0.28"
description = "Python types for Wox plugins"
readme = "README.md"
requires-python = ">=3.12"

[project.optional-dependencies]
dev = [
    "build>=1.2.2.post1",
    "twine>=6.0.1",
]