<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleIconFile</key>
        <string>app.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.identifier</string>
        <key>CFBundleName</key>
        <string>Wox</string>
        <key>CFBundleVersion</key>
        <string>2.0.0</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.12</string>
        <key>CFBundleExecutable</key>
        <string>wox</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>2.0.0</string>
        <key>NSHighResolutionCapable</key>
        <true/>
    </dict>
</plist>