<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- todo run installer again, should not display uninstall -->
  <?ifdef env.APPVEYOR_BUILD_VERSION ?>
  <?define WoxVersion  = $(env.APPVEYOR_BUILD_VERSION) ?>
  <?else?>
  <?define WoxVersion  = "1.5.0"?>
  <?endif?>
  <Bundle
    Name="Wox Full Installer $(var.WoxVersion)"
    Version="$(var.WoxVersion)"
    Manufacturer="Wox"
    UpgradeCode="f96edd7f-00c8-44b8-8ac7-1d500bbbaeea"
    DisableModify="yes"
    DisableRemove="yes"
    IconSourceFile="..\Wox\Resources\app.ico"
    Copyright="Wox"
    >
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        LogoFile="installer.png"
        SuppressRepair="yes"
        SuppressOptionsUI="yes"
        ShowVersion="yes"
        ThemeFile="InstallerTheme.xml"
        xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" />
    </BootstrapperApplicationRef>

    <!-- default to choose -->
    <Variable Name="WoxCheckbox" Value="1"/>
    <Variable Name="EverythingCheckbox" Value="1"/>
    <Variable Name="PythonCheckbox" Value="1"/>

    <Chain>
      <!--passive / no ui install. use exe cause cannot find a way to install msi with command line argument-->
      <ExePackage
        SourceFile="Everything-1.4.1.969.x64-Setup.exe"
        InstallCommand="/S"
        InstallCondition="EverythingCheckbox" 
      />
      <!-- passive / no ui install and add PATH env-->
      <ExePackage
        SourceFile="python-3.7.7.exe"
        InstallCommand="/passive PrependPath=1 Include_doc=0 Include_test=0 Include_tcltk=0"
        UninstallCommand="/uninstall"
        InstallCondition="PythonCheckbox"
      />
      <ExePackage
        Id="WoxPackage"
        SourceFile="..\Output\packages\Wox-$(var.WoxVersion).exe"
        InstallCondition="WoxCheckbox"
      />
    </Chain>
  </Bundle>
</Wix>
