name: Build

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  build:
    if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '#build') }}
    uses: ./.github/workflows/build-core.yml
    with:
      run_tests: true
      build_macos_arm64: true
      build_macos_amd64: true
      build_windows_amd64: true
      build_linux_amd64: true
      require_macos_notarize: true
      require_windows_signpath: true
      artifact_retention_days: 10
    secrets: inherit
