name: Build

on:
  push:
    branches:
      - master

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  build:
    uses: ./.github/workflows/build-core.yml
    with:
      run_tests: false
      build_macos_arm64: false
      build_macos_amd64: true
      build_windows_amd64: false
      build_linux_amd64: true
      require_macos_notarize: true
      require_windows_signpath: true
      artifact_retention_days: 10
    secrets: inherit
