name: Build

on:
  push:
    branches:
      - master

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  build:
    uses: ./.github/workflows/build-core.yml
    with:
      require_macos_notarize: false
      require_windows_signpath: false
      artifact_retention_days: 10
    secrets: inherit
