name: Build

on:
  push:
    branches:
      - master

permissions:
  contents: read
  actions: write
  id-token: write
  attestations: write

jobs:
  build:
    uses: ./.github/workflows/build-core.yml
    with:
      run_tests: true
      build_macos_arm64: ${{ contains(github.event.head_commit.message, '#build') }}
      build_macos_amd64: ${{ contains(github.event.head_commit.message, '#build') }}
      build_windows_amd64: ${{ contains(github.event.head_commit.message, '#build') }}
      build_linux_amd64: ${{ contains(github.event.head_commit.message, '#build') }}
      require_macos_notarize: true
      require_windows_signpath: true
      artifact_retention_days: 10
    secrets: inherit
